<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Telomando</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Telomando.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"  crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Otras referencias y metadatos -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

    @using Telomando.Extensions
    @{
        UsuarioLoginData usuarioData = Context.Session.GetObject<UsuarioLoginData>("usuario");
        if(usuarioData == null)
        {
                        <script>
                            if (!window.location.pathname.includes("Login")) {
                                window.location.href = "@Url.Action("Index", "Login")";
                            }
                        </script>
        }
        else
        {
            if (!usuarioData.logueado)
            {
                        <script>
                            if (!window.location.pathname.includes("Login")) {
                                window.location.href = "@Url.Action("Index", "Login")";
                            }
                        </script>
            }
        }
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
           <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content("~/imgs/truck.png")" width="60" height="45" alt="">
                    <span style="font-weight:bold">TELOMANDO</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Pagina Principal</a>
                        </li>
                        *@
                        
                @*         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Paises" asp-action="ListaPaises">Paises</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Departamentos" asp-action="ListaDepartamentos">Departamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Municipios" asp-action="ListaMunicipios">Municipios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ciudades" asp-action="ListaCiudades">Ciudades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoUsuario" asp-action="ListaTiposUsuarios">Tipos de Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCliente" asp-action="ListaTiposClientes">Tipos de Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="ListaClientes">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposTransportes" asp-action="ListaTiposTransportes">Tipos de Trasnporte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposPagos" asp-action="Index">Tipos de Pagos</a>
                        </li> *@

@* 
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoPagos" asp-action="ListaTiposPagos">Tipos de Pago</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoBodegas" asp-action="ListaTiposBodegas">Tipos de Bodegas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="ListaCategorias">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SubCategorias" asp-action="ListaSubCategorias">Sub Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sucursales" asp-action="ListaSucursales">Sucursales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bodegas" asp-action="ListaBodegas">Bodegas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Marcas" asp-action="ListaMarcas">Marcas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="ListaProductos">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BodegasProductos" asp-action="ListaBodegasProductos">Productos en Bodegas</a>
                        </li>
<<<<<<< HEAD
 *@


                        
                            @using Telomando.Extensions
                            @{
                                UsuarioLoginData usuarioData = Context.Session.GetObject<UsuarioLoginData>("usuario");
                                if (usuarioData == null || !usuarioData.logueado)
                                {
                                                <li class="nav-item ms-auto mb-lg-0">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Ingresar</a>
                                                </li>
                                }

                                if (usuarioData != null && usuarioData.logueado)
                                {
                                                <div class="ms-auto mb-lg-0 d-inline-block">
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="UsuarioInfo" asp-action="Edit">@usuarioData.username</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Cerrar Sesión</a>
                                                    </li>
                                                </div>
                                }
                            }
                        

                    </ul>
                </div>
            

               
            </div>
            </nav>   

        


    </header>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @if (TempData["AlertMessage"] != null)
            {
                <script type="text/javascript">
                    Swal.fire({
                        icon: '@TempData["AlertType"]',
                        title: 'Aviso',
                        text: '@TempData["AlertMessage"]'
                    });
                </script>
            }
            <!-- Otros elementos body -->
        </main>
    </div>
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Telomando - <a asp-area="" asp-controller="Home" asp-action="Privacy">Todos los Derechos Reservados</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
