@model List<Telomando.Models.Ciudade>
@{
    ViewData["Title"] = "Ciudades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Ciudades</h1>

</div>

<div class="card">
    <div class="card-header">
        <h5>Ciudades</h5>
    </div>
    <div class="card-body">
        <a class="btn-success btn-sm" asp-action="Ciudad_Detalle" asp-controller="Ciudades" asp-route-idCiudad="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Municipio</th>
                    <th>Ciudad</th>
                    <th>Fecha Creacion</th>
                    <th>Activo</th>
                    <th>Eliminado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.oMunicipios.Nombre</td>
                        <td>@item.Nombre</td>
                        <td>@item.FechaRegistro</td>
                        <td>@item.Activo</td>
                        <td>@item.Eliminado</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Ciudad_Detalle" asp-controller="Ciudades" asp-route-idCiudad="@item.Idciudad">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Ciudades" asp-route-idCiudad="@item.Idciudad">Eliminar</a>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>

