@model List<Telomando.Models.Categoria>
@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Categorias</h1>

</div>

<div class="card">
    <div class="card-header">
        <h5>Categorias</h5>
    </div>
    <div class="card-body">
        <a class="btn-success btn-sm" asp-action="Categoria_Detalle" asp-controller="Categorias" asp-route-idCategoria="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Fecha de Creacion</th>
                    <th>Activo</th>
                    <th>Eliminado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.FechaRegistro</td>
                        <td>@item.Activo</td>
                        <td>@item.Eliminado</td>

                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Categoria_Detalle" asp-controller="Categorias" asp-route-idCategoria="@item.Idcategoria">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Categorias" asp-route-idCategoria="@item.Idcategoria">Eliminar</a>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>

