@model List<Telomando.Models.Tarifa>
@{
    ViewData["Title"] = "Tarifas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Tarifas</h1>

</div>

<div class="card">
    <div class="card-header">
        <button onclick="generateExcel()" class="btn btn-success btn-sm">
            Reporte Excel
            <i class="fas fa-file-excel"></i>
        </button>
    </div>
    <div class="card-body">
        <a class="btn-success btn-sm" asp-action="Tarifas_Detalle" asp-controller="Tarifas" asp-route-idTarifa="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped" id="reportTable">
            <thead>
                <tr>
                    <th>Moneda</th>
                    <th>Valor</th>
                    <th>Porcentaje extra</th>
                    <th>Fecha Creacion</th>
                    <th>Activo</th>
                    <th>Eliminado</th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.oMomedas.Nombre</td>
                        <td>@item.Valor</td>
                        <td>@item.PorcentajeExtra</td>

                        <td>@item.FechaRegistro</td>
                        <td>@item.Activo</td>
                        <td>@item.Eliminado</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Tarifas_Detalle" asp-controller="Tarifas" asp-route-idTarifa="@item.Idtarifa">Editar</a>

                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Tarifas" asp-route-idTarifa="@item.Idtarifa">Eliminar</a>



                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>



<script>
    function generateExcel() {
        var table = document.getElementById('reportTable');
        var workbook = XLSX.utils.book_new();
        var worksheet = XLSX.utils.table_to_sheet(table);
        XLSX.utils.book_append_sheet(workbook, worksheet, "Reporte");

        XLSX.writeFile(workbook, 'Reporte.xlsx');
    }
</script>
