@model List<Telomando.Models.TipoCliente>
@{
    ViewData["Title"] = "Tipos de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
<h1 class="display-4">Tipos de Clientes</h1>

</div>

<div class="card">
    <div class="card-header">
        <h5>Tipos de Clientes</h5>
    </div>
    <div class="card-body">
        <a class="btn-success btn-sm" asp-action="TiposClientes_Detalle" asp-controller="TipoCliente" asp-route-idtipocliente="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Creacion</th>
                    <th>Activo</th>
                    <th>Eliminado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.FechaRegistro</td>
                        <td>@item.Activo</td>
                        <td>@item.Eliminado</td>

                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="TiposClientes_Detalle" asp-controller="TipoCliente" asp-route-idTipoCliente="@item.Idtipocliente">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="TipoCliente" asp-route-idTipoCliente="@item.Idtipocliente">Eliminar</a>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>