@model List<Telomando.Models.BodegaProducto>
@{
    ViewData["Title"] = "Productos en Bodega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Productos en Bodegas</h1>

</div>

<div class="card">
    <div class="card-header">
        <button onclick="generateExcel()" class="btn btn-success btn-sm">
            Reporte Excel
            <i class="fas fa-file-excel"></i>
        </button>
    </div>
    <div class="card-body">
        <a class="btn-success btn-sm" asp-action="BodegaProducto_Detalle" asp-controller="BodegasProductos" asp-route-idBodegaProducto="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped" id="reportTable">
            <thead>
                <tr>
                    <th>Bodega</th>
                    <th>Producto</th>
                    <th>Existencia</th>
                    <th>Fecha de Creacion</th>
                    <th>Activo</th>
                    <th>Eliminado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.oBodega.Idbodega</td>
                        <td>@item.oProducto.Nombre</td>
                        <td>@item.Stock</td>
                        <td>@item.FechaRegistro</td>
                        <td>@item.Activo</td>
                        <td>@item.Eliminado</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="BodegaProducto_Detalle" asp-controller="BodegasProductos" asp-route-idBodegaProducto="@item.Idbodegaproducto">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="BodegasProductos" asp-route-idBodegaProducto="@item.Idbodegaproducto">Eliminar</a>
                            <button onclick="generateExcel()" class="btn btn-success btn-sm">
                                Reporte Excel
                                <i class="fas fa-file-excel"></i>
                            </button>

                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>

<script>
    function generateExcel() {
        var table = document.getElementById('reportTable');
        var workbook = XLSX.utils.book_new();
        var worksheet = XLSX.utils.table_to_sheet(table);
        XLSX.utils.book_append_sheet(workbook, worksheet, "Reporte");

        XLSX.writeFile(workbook, 'Reporte.xlsx');
    }
</script>


