@model List<Telomando.Models.Producto>
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Productos</h1>

</div>

<div class="card">
    <div class="card-header">
        <h5>Productos</h5>
    </div>
    <div class="card-body">
        <a class="btn-success btn-sm" asp-action="Producto_Detalle" asp-controller="Productos" asp-route-idProducto="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Descipcion</th>
                    <th>Fecha Creacion</th>
                    <th>Activo</th>
                    <th>Eliminado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.oMarca.Nombre</td>
                        <td>@item.Precio</td>
                        <td>@item.Descripcion</td>
                        <td>@item.FechaRegistro</td>
                        <td>@item.Activo</td>
                        <td>@item.Eliminado</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Producto_Detalle" asp-controller="Productos" asp-route-idProducto="@item.Idproducto">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Productos" asp-route-idProducto="@item.Idproducto">Eliminar</a>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>

