@model Telomando.Models.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Seguro que desea borrar el registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logueado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logueado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bloqueado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bloqueado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntentosLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntentosLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdtipousuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdtipousuarioNavigation.Idtipousuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idusuario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Volver</a>
    </form>
</div>
