@model IEnumerable<Telomando.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gestión de usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Crear nuevo</a>
</p>
<div class="card-header">
    <button onclick="generateExcel()" class="btn btn-success btn-sm">
        Reporte Excel
        <i class="fas fa-file-excel"></i>
    </button>
</div>
<table class="table" id="reportTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logueado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloqueado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntentosLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdtipousuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logueado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloqueado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntentosLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdtipousuarioNavigation.Idtipousuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idusuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idusuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idusuario">Delete</a>


            </td>
        </tr>
}
    </tbody>
</table>


<script>
    function generateExcel() {
        var table = document.getElementById('reportTable');
        var workbook = XLSX.utils.book_new();
        var worksheet = XLSX.utils.table_to_sheet(table);
        XLSX.utils.book_append_sheet(workbook, worksheet, "Reporte");

        XLSX.writeFile(workbook, 'Reporte.xlsx');
    }
</script>
