@model List<Telomando.Models.Sucursale>
@{
    ViewData["Title"] = "Sucursales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Sucursales</h1>

</div>

<div class="card">
    <div class="card-header">
        <h5>Sucursales</h5>
    </div>
    <div class="card-body">
        <a class="btn-success btn-sm" asp-action="Sucursal_Detalle" asp-controller="Sucursales" asp-route-idsucursal="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Fecha de Creacion</th>
                    <th>Activo</th>
                    <th>Eliminado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Telefono</td>
                        <td>@item.Celular</td>
                        <td>@item.Email</td>
                        <td>@item.FechaRegistro</td>
                        <td>@item.Activo</td>
                        <td>@item.Eliminado</td>

                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Sucursal_Detalle" asp-controller="Sucursales" asp-route-idSucursal="@item.Idsucursal">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Sucursales" asp-route-idSucursal="@item.Idsucursal">Eliminar</a>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>

